name: Ubuntu Cpp

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install LEMON
      run: |
        cp tools/docker/scripts/install_lemon .
        chmod u+x install_lemon
        sudo ./install_lemon
    - name: Configure
      run: cmake -S . -Bbuild -DBUILD_TESTING=ON -DCMAKE_BUILD_TYPE=Release -DBUILD_PYTHON=OFF -DBUILD_SHARED_LIBS=OFF
    - name: Build
      run: cmake --build build --config Release --target all -v
    - name: Test
      run: cd build && ctest --verbose
    - name: Install
      run: cmake --build build --config Release --target install -v -- DESTDIR=install
    - name: clang-format
      uses: RafikFarhad/clang-format-github-action@v1.0.1
      with:
        sources: "src/**/*.h,src/**/*.cc,test/**/*.cc,test/**/*.h"
